.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#search, #export_data{
    display: none;
}

body{
  font-style: italic;
}

table{
  background-color: black;
  border-radius: 10px;
}

table td, th{
  color: white;
}

.nav-link{
  color: white;
}

