.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#search, #export_data{
    display: none;
}

body{
  font-style: italic;
}

table{
  background-color: black;
  border-radius: 10px;
}

table td, th{
  color: white;
}

.nav-link{
  color: white;
}

body {
  width: 100%;
  background-image: url("../images/Background/back.jpg");
  background-size:  100%;
}

img{
  border-radius: 8px;
  opacity: 89%;
}